/* NORMALIZATION */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: black;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/* NORMALIZATION */

/* NAVBAR */
@media (min-width: 992px) {
  .navbar-expand-lg .offcanvas {
    flex-grow: 0 !important;
  }
}
.navbar {
  transition: 0.5s;
  background-color: rgb(40, 40, 40);
}
.navbar-icon {
  margin: 4px;
}
.navbar-icon > div {
  border: 1.5px solid #cca641;
  padding: 3px;
}
.navbar-icon span {
  font-size: 7.5px;
}
.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.mobile-hide {
  display: block;
}
/* .mobile-show {
  display: none;
} */
/* NAVBAR */

/* FLAG_DROPDOWN */
.flag-dropdown-toggle,
.flag-dropdown-menu {
  border: 0;
  outline: 0;
  background-color: transparent;
}
.dropdown-toggle::after {
  border: 0;
}
/* FLAG_DROPDOWN */

/* OFFCANVAS */
.offcanvas-style {
  background-color: rgb(40, 40, 40);
  color: #cca641;
  width: 225px;
  margin: 0px;
}
/* OFFCANVAS */

/* SIDENAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cca641;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left 0.5s;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* SIDENAV */

/* TABLE */
td,
th {
  padding: 20px !important;
  text-align: center;
}
.table-container {
  border: #cca641 1px solid;
}
.table-container i {
  color: #cca641;
}
.table-container {
  padding: 25px 50px;
}
.data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.location-name::before {
  content: "";
  border-left: 2px solid white;
  margin-right: 8px;
}
.data-container span {
  color: #cca641;
  margin-left: 5px;
}
.header-data {
  color: white !important;
}
.data-container i {
  font-size: 12px;
}
.gold-weight {
  color: #cca641;
  font-weight: 800;
}
.bi-arrow-left-short,
.bi-plus {
  color: green !important;
}
.bi-arrow-right-short,
.bi-dash {
  color: red !important;
}
.submit-btn {
  border: 0.3px solid #cca641;
  outline: 0;
  background-color: transparent;
  padding: 5px;
  color: white;
  border-radius: 3px;
  font-size: 12px;
}
.submit-btn:hover {
  background-color: #cca641;
  transition: 0.5s;
}

.date-picker {
  border: 0;
  outline: 0;
  width: 140px;
  background: transparent;
  color: white;
}
::-webkit-calendar-picker-indicator {
  background-image: url("/images/monthly-calendar-svgrepo-com.svg");
}
/* TABLE */

/* RESPONSIVE_DESIGN */
@media screen and (max-width: 1160px) {
  .data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .table-container {
    overflow-x: auto;
  }
  .submit-btn {
    width: 250px;
  }
  .table-container {
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .list-btn {
    display: none;
  }
  .mobile-hide {
    display: none;
  }
  /* .mobile-show {
    display: block;
  } */
  .navbar-nav {
    display: flex !important;
    flex-direction: column !important;
  }
  .dropdown {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .offcanvas-style {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
}
/* RESPONSIVE_DESIGN */
